@page "/deck"

@using SolarisRec.UI.Components.Dropdown
@using SolarisRec.UI.Provdiders
@using SolarisRec.UI.UIModels

<MudDialogProvider />

<MudGrid id="Dropdowns">
    <MudItem>
        <MudMultiSelectDropdown @ref="factionDropdown" DropdownItems="FactionDropdownItems" Dense="true"
                                Label="Factions" @bind-SelectedValues="@SelectedFactions.Selected" />
    </MudItem>
    <MudItem>
        <MudMultiSelectDropdown @ref="cardTypeDropdown" DropdownItems="CardTypeDropdownItems" Dense="true"
                                Label="Card Type" @bind-SelectedValues="@SelectedCardTypes.Selected" />
    </MudItem>
    <MudItem>
        <MudMultiSelectDropdown @ref="crcDropdown" DropdownItems="ConvertedResourceCostDropdownItems" Dense="true"
                                Label="Converted Cost" @bind-SelectedValues="@SelectedConvertedResourceCosts.Selected" />
    </MudItem>
    <MudItem>
        <MudMultiSelectDropdown @ref="talentsDropdown" DropdownItems="TalentDropdownItems" Dense="true"
                                Label="Talents" @bind-SelectedValues="@SelectedTalents.Selected" />
    </MudItem>
    <MudItem>
        <MudMultiSelectDropdown @ref="keywordDropdown" DropdownItems="KeywordDropdownItems" Dense="true"
                                Label="Keyword" @bind-SelectedValues="@SelectedKeywords.Selected" />
    </MudItem>
</MudGrid>


<MudButton OnClick="ClearFilters">Clear Filters</MudButton>

<MudGrid>
    
    <MudItem id="CardSearch" xs="8">
        
        <MudPaper Class="solaris-deck-item-header d-flex px-2 align-center my-1">
            <MudText Typo="Typo.body2" Class="name-header">Name</MudText>
            <MudSpacer />
            <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
            <MudText Typo="Typo.body2" Class="factions-header">Factions</MudText>
            <MudSpacer />
            <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
            <MudText Typo="Typo.body2" Class="type-header">Type</MudText>
            <MudSpacer />
            <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
            <MudText Typo="Typo.body2" Class="resourceCostIcon-header">C</MudText>
            <MudSpacer />
            <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
            <MudText Typo="Typo.body2" Class="talentIcon-header">T</MudText>
            <MudSpacer />
            <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
            <MudText Typo="Typo.body2" Class="av-header">AV</MudText>
            <MudSpacer />
            <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
            <MudText Typo="Typo.body2" Class="hv-header">HV</MudText>
            <MudSpacer />
            <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
            <MudText Typo="Typo.body2" Class="ability-header">Ability</MudText>
        </MudPaper>

        @foreach (var item in Cards)
        {
            <MudPaper @onclick="@(() => AddToDeck(item))" @onmouseover="@(() => UpdateImageSrc(item))"
                      Class="solaris-deck-item d-flex px-2 align-center my-1">
                <MudText Typo="Typo.body2" Class="name">@item.Name</MudText>
                <MudSpacer />
                <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
                <MudText Typo="Typo.body2" Class="factions">@item.Factions</MudText>
                <MudSpacer />
                <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
                <MudText Typo="Typo.body2" Class="type">@item.Type</MudText>
                <MudSpacer />
                <MudDivider FlexItem="true" Vertical="true" />
                <MudItem Class="resourceCostIcon">
                    @for (int i = 0; i < @item.Costs.Count; i++)
                    {
                        for (int j = 0; j < @item.Costs[i].Quantity; j++)
                        {
                            <img src="@ResourceIconImageLinkProvider.Provide(@item.Costs[i])" width="30" height="26">
                        }
                    }
                </MudItem>
                <MudSpacer />
                <MudDivider FlexItem="true" Vertical="true" />
                <MudItem Class="talentIcon">
                    @for (int i = 0; i < @item.Talents.Count; i++)
                    {
                        for (int j = 0; j < @item.Talents[i].Quantity; j++)
                        {
                            <img src="@TalentIconImageLinkProvider.Provide(@item.Talents[i])" width="30" height="26">
                        }
                    }
                </MudItem>
                <MudSpacer />
                <MudDivider FlexItem="true" Vertical="true" />
                <MudText Typo="Typo.body2" Class="av">@item.AttackValue</MudText>
                <MudSpacer />
                <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
                <MudText Typo="Typo.body2" Class="hv">@item.HealthValue</MudText>
                <MudSpacer />
                <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
                <MudText Typo="Typo.body2" Class="ability">@item.Ability</MudText>
            </MudPaper>
        }

    </MudItem>
    

    @*<MudItem id="CardSearch" xs="8">
        <MudTable Items="@Cards"
                  T="Card" OnRowClick="AddToDeck" RowClass="relative"
                  ServerData="@(new Func<TableState, Task<TableData<Card>>>(GetCardsFiltered))"
                  Hover="true" Breakpoint="Breakpoint.Sm" RightAlignSmall="true"
                  @ref="table">
            <ToolBarContent>
                <MudSpacer />
                <MudTextField T="string" ValueChanged="@(searchTerm => OnSearchByName(searchTerm))" Placeholder="Search by name"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0" Label="Search by name" @ref="searchByName"></MudTextField>
                <MudTextField T="string" ValueChanged="@(abilitySearchTerm => OnSearchByAbility(abilitySearchTerm))" Placeholder="Search by ability"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0" Label="Search by ability" @ref="searchByAbility"></MudTextField>
            </ToolBarContent>
            <ColGroup>
                <col style="width: 50px;" />
                <col style="width: 50px;" />
                <col style="width: 50px;" />
                <col style="width: 30px;" />
                <col style="width: 30px;" />
                <col style="width: 10px;" />
                <col style="width: 10px;" />
                <col style="width: 490px;" />
            </ColGroup>
            <HeaderContent>

                <MudTh><MudTableSortLabel SortLabel="@nameof(Card.Name)" T="Card">Name</MudTableSortLabel></MudTh>
                <MudTh>Factions</MudTh>
                <MudTh>Type</MudTh>
                <MudTh><MudTableSortLabel SortLabel="@nameof(Card.Costs)" T="Card">Cost</MudTableSortLabel></MudTh>
                <MudTh>Talent</MudTh>
                <MudTh><MudTableSortLabel SortLabel="@nameof(Card.AttackValue)" T="Card">AV</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="@nameof(Card.HealthValue)" T="Card">HV</MudTableSortLabel></MudTh>
                <MudTh>Ability</MudTh>

            </HeaderContent>
            <RowTemplate>

                <MudTd DataLabel="Name">
                    <div @onmouseover="@(() => UpdateImageSrc(context))" class="absolute mud-width-full mud-height-full" style="top:0;left:0;"></div>
                    @context.Name
                </MudTd>
                <MudTd DataLabel="Factions">@context.Factions</MudTd>
                <MudTd DataLabel="CardType">@context.Type</MudTd>
                <MudTd DataLabel="Cost">
                    @for (int i = 0; i < @context.Costs.Count; i++)
                    {
                        for (int j = 0; j < @context.Costs[i].Quantity; j++)
                        {
                            <img src="@ResourceIconImageLinkProvider.Provide(@context.Costs[i])" width="30" height="26">
                        }
                    }
                </MudTd>
                <MudTd DataLabel="Talent">
                    @for (int i = 0; i < @context.Talents.Count; i++)
                    {
                        for (int j = 0; j < @context.Talents[i].Quantity; j++)
                        {
                            <img src="@TalentIconImageLinkProvider.Provide(@context.Talents[i])" width="30" height="26">
                        }
                    }
                </MudTd>
                <MudTd DataLabel="AttackValue">@context.AttackValue</MudTd>
                <MudTd DataLabel="HealthValue">@context.HealthValue</MudTd>
                <MudTd DataLabel="Ability">@context.Ability</MudTd>

            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="@pageSizeOption" RowsPerPageString="Cards per page" />
            </PagerContent>
        </MudTable>
    </MudItem>*@

    <MudItem id="DecksAndCommands" xs="4" Spacing="0">
        <MudGrid>

            <MudItem xs="12" lg="6">
                <img src="@(ImgSrc)" width="100%" height="auto">

                <MudIconButton Icon="@Icons.Material.Filled.Save"
                               Color="Color.Inherit" OnClick="Export"></MudIconButton>

                @if (!ValidationResult.IsDeckValid)
                {
                    <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Warning" OnClick="ShowReasons"/>
                }

                <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.Clear" OnClick="ClearDeck" />              

                <MudText GutterBottom="true"> Missions (@MissionDeck.Select(d => d.Quantity).Sum())</MudText>
                @foreach (var item in MissionDeck)
                {
                    <MudPaper @onclick="@(() => RemoveFromMissionDeck(item))" @onmouseover="@(() => UpdateImageSrc(item))"
                          Class="solaris-deck-item d-flex px-2 align-center my-1">
                        <MudText Typo="Typo.body2" Class="my-2">@item.Card.Name</MudText>
                        <MudSpacer />
                        <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
                        <MudText Typo="Typo.body2">@item.Quantity</MudText>
                    </MudPaper>
                }
            </MudItem>

            <MudItem xs="12" lg="6">
                <MudText GutterBottom="true"> Main deck (@mainDeckCardCount / @mainDeckAgentCount A)</MudText>
                @foreach (var item in MainDeck)
                {
                    <MudPaper @onclick="@(() => RemoveFromDeck(item))" @onmouseover="@(() => UpdateImageSrc(item))"
                          Class="solaris-deck-item d-flex px-2 align-center my-1">
                        <MudText Typo="Typo.body2" Class="my-2">@item.Card.Name</MudText>
                        <MudSpacer />
                        <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
                        <MudText Typo="Typo.body2">@item.Quantity</MudText>
                    </MudPaper>
                }

                <MudText Class="mt-4" GutterBottom="true"> Tactical Deck (@TacticalDeck.Select(d => d.Quantity).Sum())</MudText>
                @foreach (var item in TacticalDeck)
                {
                    <MudPaper @onclick="@(() => RemoveFromTacticalDeck(item))" @onmouseover="@(() => UpdateImageSrc(item))"
                          Class="solaris-deck-item d-flex px-2 align-center my-1">
                        <MudText Typo="Typo.body2" Class="my-2">@item.Card.Name</MudText>
                        <MudSpacer />
                        <MudDivider FlexItem="true" Vertical="true" Class="mx-2" />
                        <MudText Typo="Typo.body2">@item.Quantity</MudText>
                    </MudPaper>
                }
            </MudItem>

        </MudGrid>
    </MudItem>

</MudGrid>